@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #242424;
    
}

p, span, h1, h2, h3, h4, h5, h6, a{
    color: rgb(188, 188, 188);
}
/* Hide the scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Firefox */
* {
    scrollbar-width: none;
}
